<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Grupo</title>

    <!-- CSS GLOBAL -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <!-- SIDEBAR -->
    <div class="sidebar">

        <div class="sidebar-title">
            🍽️ Cena Popular
        </div>

        <a th:href="@{/admin/dashboard}">Dashboard</a>
        <a th:href="@{/admin/eventos/nuevo}">Crear Evento</a>
        <a th:href="@{/admin/eventos}">Listar Eventos</a>
        <!-- ESPACIADOR -->
        <div style="margin-top: auto;"></div>

        <!-- LOGOUT ABAJO -->
        <form th:action="@{/logout}" method="post" style="padding: 10px 20px;">
            <button class="btn" style="width:100%;">
                Cerrar sesión
            </button>
        </form>
    </div>

    <!-- MAIN -->
    <div class="main-content">

        <h1>Crear Grupo</h1>

        <div class="card">

            <p>
                Evento:
                <strong th:text="${evento.nombre}"></strong>
            </p>

        </div>

        <div class="card">

            <form th:action="@{/admin/grupos/guardar/{id}(id=${evento.id})}" method="post">

                <!-- NOMBRE CONTACTO -->
                <label>Nombre contacto</label>
                <input type="text" name="nombreContacto" required>

                <!-- PERSONAS -->
                <label>Número de personas</label>
                <input type="number" name="numeroPersonas" min="1" max="10" required>

                <button class="btn">
                    Crear Grupo
                </button>

            </form>

        </div>

    </div>

</body>

</html>