<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contratar Servicio</title>

    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

<header class="header">
    <div class="logo">
        <img src="/img/icon.svg" alt="Logo">
        <span>JSDesign</span>
    </div>

    <nav class="nav">
            <a href="/info">Servicios</a>
            <a href="/info/compra">Contratar</a>

            <a href="/info/en/buy" class="lang-btn">🇬🇧</a>
        </nav>
</header>

<section class="buy-container">

    <h1>Contratar servicio</h1>
    <p class="subtitle">Cuéntame qué necesitas y te contactaré contigo</p>

    <form class="form">

        <input type="text" placeholder="Nombre">
        <input type="email" placeholder="Email">

        <select>
            <option>Sistema de gestión</option>
            <option>Web corporativa</option>            
            <option>API backend</option>
        </select>

        <textarea rows="5" placeholder="Describe tu proyecto"></textarea>

        <button class="btn-primary" type="submit">
            Solicitar presupuesto
        </button>

    </form>

</section>

<footer class="footer">
    <p><b>Javier Sorní Belencoso</b></p>
    <p>javsorbel@alu.edu.gva.es</p>
    <p>Valencia, España</p>

    <a class="github-link" href="https://github.com/javiersorni" target="_blank">
    <i class="bi bi-github"></i>
    GitHub
</a>
</footer>

</body>
</html>